body{
    background-color: blueviolet;
    color: cornsilk;
}
.titulos{
    background-color: crimson;
    width: 250px;
    height: 250px;
    
}
.imagen{
   
    width: 250px;
    height: 250px;
    
}
